.card {
  border: 1px solid #90cdf4;
  border-radius: 8px;
  margin: 24px 0;
  padding: 16px 0;

  &_light {
    border-color: #000;
  }

  &__header {
    font-size: 18px;
    font-weight: 600;
    padding: 0 16px 12px;
  }

  &__content {
    padding: 0 24px;

    &_cart {
      background-color: #aee2ae3b;

      &_light {
        background-color: #aee2aee3;
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    padding: 8px 0;
    position: relative;

    &_actions {
      position: absolute;
      right: 0;

      button {
        &:first-child {
          margin-right: 6px;
        }

        &:last-child {
          margin-left: 6px;
        }
      }
    }

    &::before {
      content: "- ";
      margin-right: 6px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 6px 20px 0 0;
  }

  &_links {
    display: flex;
    padding: 12px;
    position: relative;

    &__status {
      left: -8px;
      position: absolute;
      top: -14px;
    }

    &__actions {
      display: flex;
      margin-left: 10px;

      button {
        margin: 0 8px;
      }
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        font-weight: 600;
        overflow:hidden; 
        text-decoration: underline;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}
